.list-banners {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 150px;

}

.list-banners .wrapper-banner {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 25px ;
}