.main-button {
    width: 150px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font: inherit;
    background-color: var(--color-first);
    border: 2px solid var(--color-third);
    color: var(--color-second);
    font-size: 15px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.main-button:hover{
    transform: scale(1.05);
}