.main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.main-footer .logoAlura {
    height: 100px;
}

.main-footer .logo{
    margin-bottom: 15px;
}

.main-footer .title {
    color: var(--color-first);
}